/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #000028;
  --menu-color: #FF0070;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-lead-color: #FF0070;
  --main-color: #F1B2CE;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .header-rec {
  display: flex;
}
