/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --menu-color: #000028;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-lead-color: #000028;
  --main-color: #353430;
  --hover-color: rgba(53, 52, 48, 0.5);
  --bg-image: url('/images/cover-image-light.png');
  --bg-corner-top-right: url('/images/Rectangle-black\ 77.png');
  --bg-corner-left-bottom: url('/images/Rectangle-black\ 79.png');
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --menu-color: #000028;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-lead-color: #000028;
  --main-color: #353430;
  --hover-color: rgba(53, 52, 48, 0.5);
  --bg-image: url('/images/cover-image-light.png');
  --bg-corner-top-right: url('/images/Rectangle-black\ 77.png');
  --bg-corner-left-bottom: url('/images/Rectangle-black\ 79.png');
  }
}

.theme-light .header-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .header-rec {
    display: none;
  }
}